body{
    width: 100vw; /*esto es un porcentaje? es la unidad adecuada?*/
    height: 100vh;
    overflow: hidden; /*para que no trate de scrollear*/
    padding: 10px;

    background: conic-gradient(
        from 84deg at -6% -19%,
        rgba(37, 87, 122, 1) 16deg,
        rgba(59, 168, 164, 1) 38deg,
        rgba(87, 204, 153, 1) 52deg,
        rgba(128, 237, 153, 1) 71deg,
        rgba(199, 249, 204, 1) 86deg
    );
    background-blend-mode: normal;
}

.createTemplate-view{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px; /*hacer relativo despues*/

    /*otros*/
    height:95vh; /*no se si es la unidad adecuada*/
    width:95vw;
    
}

.api-search-results{
    flex-basis: 720px;  /*no entiendo como usar esto y no funciona como quiero*/ 
    flex-grow: 0.75;    /*no entiendo como usar esto y no funciona como quiero*/ 
    flex-shrink: 0.5;   /*no entiendo como usar esto y no funciona como quiero*/ 
    display: flex; /*por ahí mas tarde se convierte en un flex o grid*/
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    overflow-y: scroll;
    border-radius: 1rem;

    /*otros*/
    background-color: lightseagreen;
    height:inherit; /*creo que esto es efectivo (?*/
}

.contestant-card-small{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:  center;
    padding: 1rem;
}
.cover-img{
    width: 10rem;
    border-radius: 1rem;
}

.card-name{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.card-info{
    color: rgb(189, 189, 189);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}


.selected-contestants-list {
    flex-grow: 0.5;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    overflow-y: scroll;
    gap: 10px; /*hacer relativo despues*/

    /*estilo separado de los campos de flexbox*/
    height:inherit; /*creo que esto es efectivo (?*/
    background-color: #20b2aa;
    padding-top: 1rem;
    
  }

.flex-items{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

    /*estilo separado de los campos de flexitem*/
    text-align: center;
    margin: 5px; /*hacer relativo despues*/
 
}

.contestant-list-item {  
    display: grid;
    text-align: center;
    margin: 5px; /*hacer relativo despues*/
    grid-template-columns: 120px 1.3fr;
    grid-template-rows: 0.2fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "portada titulo"
      "portada info";
    
  }
  
.portada {
    grid-area: portada; 
    margin: 5px; /*hacer relativo despues*/
    align-self: center;

    
}

.portada > img{ 
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 1rem;
    object-fit: contain;
    overflow: hidden;
}
    
  
.titulo {
    grid-area: titulo;
    text-wrap: nowrap;
    
}
  
.info {
    grid-area: info;
}

  